@keyframes myHeight{
    0%{height: 6px;}
    100%{height: 14px;}
}

/* page-1 */
.page-1 > section.songs .square-spin{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.page-1 > section.songs > ol .wrapper{
    margin: 0 auto;
    display: inline-block;
}
.page-1 > section.songs > ol .wrapper > div{
    height: 14px;
    border: 1px solid #DD6B64;
    display: inline-block;
    margin: auto;
    animation: myHeight 0.3s infinite linear;
}
.page-1 > section.songs .square-spin.active{
    display: none;
}


/* page-2 */
.page-2 ol > .square-spin{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.page-2 ol .wrapper{
    margin: 0 auto;
    display: inline-block;
}
.page-2 ol .wrapper > div{
    height: 14px;
    border: 1px solid #DD6B64;
    display: inline-block;
    margin: auto;
    animation: myHeight 0.3s infinite linear;
}
.page-2 ol > .square-spin.active{
    display: none;
}

